#colour-picker-form {
  display: flex;
  align-items: center;
}

#colour-picker-form input {
  /* display: none; */
  position: absolute;
  z-index: -10;
}

#colour-picker-form label {
  cursor: pointer;
  outline: 1px solid currentColor;
  position: relative;
  background-color: var(--background-color);
}

#colour-picker-form input:focus-visible {
  outline: none;
}

#colour-picker-form label:has(input:focus-visible) {
  box-shadow: 0 0 0 3px var(--accent-color);
}

#colour-picker-form svg {
  width: 40px;
  height: 40px;
  margin-bottom: -4px;
  fill: none;
  stroke-width: 10px;
  stroke-linejoin: round;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, 0, 0);
}

#colour-picker-form label:has(input:checked) svg {
  stroke: white
}

#colour-picker-form label:has(input:not(:checked)):hover {
  box-shadow: 0 0 0 3px var(--accent-color);
}

#blue:has(input:checked) {
  background-color: blue;
}
#red:has(input:checked) {
  background-color: red;
}
#green:has(input:checked) {
  background-color: green;
}
#black:has(input:checked) {
  background-color: black;
}

#blue svg {
  stroke: blue;
}

#red svg {
  stroke: red;
}

#green svg {
  stroke: green;
}

#black svg {
  stroke: black;
}