@import url("./containers.css");
@import url("./canvases.css");
@import url("./grid.css");
@import url("./input-form.css");
@import url("./colour-picker-form.css");
@import url("./clear-button.css");
@import url("./alert.css");

:root {
  --rounded: 2px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body ::selection {
  background-color: var(--accent-color);
}

body[theme="blue"] {
  --background-color: #232946;
  --primary-color: #b8c1ec;
  --text-color: #b8c1ec;
  --header-text-color: #fffffe;
  --surface-color: #264d6c;
  --accent-color: #5b9f66;
}

body[theme="sand"] {
  --background-color: #fef6e4;
  --header-background-color: #fed1ae;
  --primary-color: #172c66;
  --text-color: #172c66;
  --header-text-color: #001858;
  --surface-color: #f3d2c1;
  --accent-color: #f582ae;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

.button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
}

.full-screen {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.column-page-layout {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 5px;
  border-bottom: 1px solid currentColor;
}

main {
  padding-top: 10px;
  flex: 1;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

#drawing-controls {
  grid-area: drawing-controls;
  display: flex;
  justify-content: center;
  gap: 3em;
}
