@import url("./grid.css");
@import url("./form.css");

:root {
  --title-size: 2rem;
  --title-line-height: 1.5;
  --header-padding: 5px;
  --header-height: calc(var(--title-size) + 2 * var(--header-padding));
  --main-height: calc(100dvh - var(--header-height));
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

.full-screen {
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-layout {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: var(--title-size);
  font-weight: 500;
  line-height: 1.5;
}

header {
  text-align: center;
  background-color: #333;
  color: #e0e0e0;
  padding: var(--header-padding);
}

main {
  padding-top: 10px;
  background-color: #eeeeee;
  flex: 1;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

#inputBox {
  width: min(100%, 500px);
  aspect-ratio: 1;
  cursor: crosshair;
  grid-area: input;
}

#outputBox {
  width: min(100%, 500px);
  aspect-ratio: 1;
  grid-area: output;
}
